@{
    ViewData["Title"] = "Home Page";
}

@model ApplicationUser

<div>
    <h1>Welcome, @Model.FullName!</h1>
    <img src="data:image/png;base64,@Model.ProfilePicture" alt="Profile Picture" width="50" height="50" />
</div>

<div>
    <!-- contenido del juego -->
</div>

